body {
  padding-top: 0;
  padding-bottom: 0;
  color: #7A7A7A;
}

#navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown-menu {
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.5);
}

.process-table {
  margin-top: 20px;
}

#indexSpacer {
  /*height: 500px;*/
  margin-bottom: 60px;
}

#topColor {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 200px;
  background-color: #67C1E5;
}

#bottomColor {
  margin-top: 80px;
  max-height: 150px;
  padding-top: 110px;
  padding-bottom: 10px;
  background-image: url(images/bottom-color.svg);
  background-position: bottom left;
  /*background-color: #67C1E5;*/
}

footer {
  color: white;
}

#process-nav {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-top: 30px;
  margin-bottom: 60px;
  color: white;
}

/*.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}*/